*{
    background-color: rgb(199, 212, 224);
    color: rgb(12, 12, 12);
}

.new{
    justify-content: center;
    gap: 20px;
    text-align: center;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 30px;
    width: 270px;
    height: 250px;
    padding-top: 30px;
    
}

body{
    margin-top: 150px;
    justify-content: center;
    text-align: center;
}
.new1 input{
    background-color: rgb(88, 88, 173);
    flex-direction: row;
    gap: 10px;
    color: white;
    width: 80px;
    height: 35px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: none;
}

.new1 input:hover{
    transition: all 1s ease;
    transform: scale(1.1);
}

.new2{
    display: flex;
    flex-direction: row;
    gap: 26px;
    height: 25px;
    margin-left: 5px;
}

.new3{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 200px;
    height: 20px;
    margin-left: 5px;
    margin-top: 20px;

}

.new4{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 220px;
    height: 20px;
    margin-left: 5px;
    margin-top: 20px;

}

.new5{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 20px;
    margin-left: 5px;
    margin-top: 20px;

}

